<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#"><img src="@Url.Content("~/content/images/logo-small.png")" /></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
        
    <section class="top-bar-section">
        <ul class="right">
            <li class="divider"></li>
            <li>@Html.ActionLink("Home", "Index", "home")</li>
            <li class="divider"></li>
            <li>@Html.ActionLink("About Us", "About", "Home")</li>
            <li class="divider"></li>
            <li class="has-dropdown">
                @Html.ActionLink("Services", "Services", "Home")
                <ul class="dropdown">
                    <li>Custom Software</li>
                </ul>
            </li>
            <li class="divider"></li>
            <li>@Html.ActionLink("App Development", "AppDevelopment", "Home")</li>
            <li class="divider"></li>
            <li>@Html.ActionLink("Web Development", "WebDevelopment", "Home")</li>
            <li class="divider"></li>
            <li>@Html.ActionLink("Careers", "Careers", "Home")</li>
            <li class="divider"></li>
            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
            <li class="divider"></li>

        </ul>
    </section>


</nav>

